<div class="face-snap-card">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>
    Mis en ligne le {{ faceSnap.createdDate | date : "dd MMMM yyyy, à HH:mm" }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location | titlecase }}</p>
  <p>
    <button
      (click)="onSnap()"
      [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }"
    >
      {{ buttonText }}
    </button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >🤌 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
